/* Structure */

:root {
    --backColor: #000000;
    --tabColor: #222222;
    --hoverColor: #260104;
    --borderColor: #8C030E;
    --textColor1: #8C030E;
    --textColor2: #8C031C;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--textColor1);
    background-color: var(--backColor);
}

.hide {
    display: none;
}

/* Navigation */

#main-items {
    padding-left: 0px;
}

#main-items li {
    list-style-type: none;
    margin-bottom: 10px;
    text-align: center;
    background-color: var(--tabColor);
    border: 2px solid var(--borderColor);
    border-radius: 5px;
    width: 125px;
    padding: 5px;
}

#main-items li:hover {
    background-color: var(--hoverColor);
}

#main-items a {
    text-decoration: none;
    color: var(--textColor1);
}

#expand {
    width: 20px;
}

.hide-small {
    display: none;
}

/* Home */

#home-content {
    margin: 20px;
}

#home-content h1 {
    text-align: center;
}

#home-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    /*border: 2px solid var(--borderColor);*/
    border-radius: 5px;
}

#main-info {
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--tabColor);
    padding: 10px;
    border: 2px solid var(--borderColor);
    border-radius: 5px;
}

#websites {
    padding-left: 0px;
    margin: 30px;
}

#websites li {
    list-style-type: none;
    margin-bottom: 20px;
    text-align: center;
    font-size: large;
}

#websites a {
    text-decoration: none;
    color: var(--textColor1);
    border-bottom: 2px solid transparent;
}

#websites a:hover {
    border-bottom: 2px solid var(--textColor1);
}

/* Resume */

#resume {
    margin: auto;
    max-width: 800px;
    border: 1px solid black;
    color: black;
    background-color: white;
    min-height: 900px;
    margin-bottom: 10px;
    margin-top: 20px;
}

#name {
    text-align: center;
    margin-bottom: 0px;
}

#contact-info {
    text-align: center;
    margin-top: 0px;
}

.sec {
    margin-left: 70px;
    margin-bottom: 0px;
}

#school {
    margin-left: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#edu {
    margin-left: 110px;
    margin-top: 0px;
}

#edu li {
    margin-top: 0px;
    list-style-type: none;
}

.job {
    margin-left: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.job-description {
    margin-top: 0px;
    margin-left: 120px;
}

#button-div {
    text-align: center;
}

/* Example Code */

.ex-code-style {
    text-align: center;
    border: 2px solid var(--borderColor);
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    color: var(--textColor2);
    background: var(--tabColor);
    max-width: 950px;
}

.ex-code-style a {
    text-decoration: none;
    color: var(--textColor2);
}

/*
.ex-code-style h1 {
    border-bottom: 2px solid transparent;
    max-width: max-content;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

.ex-code-style h1:hover {
    border-bottom: 2px solid var(--textColor2);
}
*/

.ex-code-style img {
    border: 2px solid transparent;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    max-height: 150px;
    padding: 10px;
}

.ex-code-style img:hover {
    border: 2px solid var(--borderColor);
}

/* Expanded Code */

.code-style {
    text-align: center;
    background-color: var(--tabColor);
    border: 2px solid var(--borderColor);
    border-radius: 5px;
    padding: 10px;
    max-width: 1200px;
    margin: auto;
}

.code-style h3 {
    text-align: left;
    margin-bottom: 0px;
}

.code-style p {
    text-align: left;
    margin-top: 0px;
}

.code-style img {
    width: 300px;
    height: 150px;
    border: 2px solid black;
    border-radius: 5px;
}

.code-style a {
    text-decoration: none;
    color: var(--textColor2);
    border-bottom: 2px solid transparent;
}

.code-style a:hover {
    border-bottom: 2px solid var(--textColor2);
}

.add-code {
    margin-top: 50px;
    margin-left: 10px;
}

.add-code div {
    width: 310px;
    text-align: center;
    padding-left: 5px;
    margin: auto;
}

#add-code-button {
    text-align: center;
    margin-top: 10px;
}

/* Coding Projects */

.proj-click {
    text-decoration: none;
    color: var(--textColor1);
}

.title-style {
    text-align: center;
}

.proj-style {
    text-align: center;
    background-color: var(--tabColor);
    border: 2px solid var(--borderColor);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.proj-style:hover {
    background-color: var(--hoverColor);
}

.proj-style img {
    max-width: 100%;
    height: 150px;
    width: 150px;
    border: 1px solid var(--borderColor);
    border-radius: 3px;
}

.proj-style p {
    text-align: left;
}

/* Expanded Project */

.back-nav a {
    text-decoration: none;
    color: var(--textColor2);
    margin-left: 10px;
}

.expanded-project {
    text-align: center;
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.expanded-project img {
    max-width: 100%;
    height: 600px;
    width: 600px;
    border: 3px solid var(--borderColor);
    border-radius: 6px;
}

.expanded-project p {
    text-align: left;
}

/* Contact Me */

#contact-content {
    text-align: center;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label {
    width: 100px;
    text-align: right;
    padding: 2px;
    padding-right: 10px;
}

.columns {
    display: flex;
}

#txt-message {
    height: 200px;
}

input {
    background-color: var(--tabColor);
    color: var(--textColor1);
    border: 2px solid var(--textColor2);
    border-radius: 3px;
}

/* Button Style */

button {
    background-color: var(--tabColor);
    color: var(--textColor1);
    border-style: none;
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    padding: 3px;
}

button:active {
    background-color: var(--hoverColor);
}

/* Larger Resolution */

@media only screen and (min-width: 725px) {

    /* Nav */

    #navigation {
        margin: auto;
        max-width: 800px;
    }

    .hide-small {
        display: block;
    }

    #expand {
        display: none;
    }

    #main-items {
        display: flex;
        align-items: center;
        margin: auto;
        max-width: 800px;
        padding-left: 18px;
    }

    #main-items li {
      padding-left: 0px;
    }

    #main-items a {
        flex: 1;
    }

    /* Home */

    #websites {
        display: flex;
        align-items: center;
        margin: auto;
        max-width: 800px;
    }

    #websites li {
        flex: 1;
        padding-left: 0px;
    }

    /* Code Projects */

    .title-style {
        text-align: left;
        margin-left: 15px;
    }

    .proj-style {
        display: flex;
        align-items: center;
    }

    .proj-style p {
        margin-left: 10px;
    }

    /* Contact Me */

    #contact-content {
        max-width: 700px;
    }

    #txt-message {
        width: 500px;
    }
}