/* Structure */

body {
    background:#67151B;
}

header {
    background-color: #E3D3C4;
    width: 75%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px #161A1E;
}

h1 {
    color: #67151B;
    text-align: center;
}

.assignments {
    margin: auto;
    width: 60%;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
}


/* Navigation */

#assignment-nav a, .assignments {
    text-decoration: none;
    background-color:#E8AA9B;
    color:#161A1E;
    padding: 3px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#assignment-nav a:hover {
    color: white;
}

.assignments img {
    border: 2px solid rgba(0, 0, 0, 0)
}

.assignments img:hover {
    border: 2px solid #161A1E;
    border-radius: 5px;
}

#assignment-nav ul {
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
}

#assignment-nav li {
    margin: 10px;
}

/* Images */

img {
    width: 300px;
    height: 150px;
    max-width: 100%;
}

/* Typography */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #161A1E;
}

#content h2 {
    color:#E3D3C4;
    text-align: center;
}

p {
    text-align: left;
}

/* Larger Resolution */

@media only screen and (min-width: 750px) {
    #assignment-nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .assignments {  
        margin-bottom: 10px;
        max-width: 30%;
        flex-grow: 0;
    }
}

