/* Structure */

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: lightsalmon;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

#oldest {
    background-color: lightsalmon;
    padding: 5px;
    border-radius: 5px;
}


#fundraiser {
    background-color: lightsalmon;
    padding: 5px;
    border-radius: 5px;
}

/* Navigation */

#main-nav ul {
    padding-left: 0px;
    background-color: whitesmoke;
    text-align: center;
    color: coral;
}

#main-nav li {
    list-style-type: none;
    border: 3px solid transparent;
}

#main-nav li:hover {
    background-color: lightgray;
}

#exercise1.selected1 {
    border-bottom: 3px solid coral;
}

#exercise2.selected2 {
    border-bottom: 3px solid coral;
}

.hide1 {
    display: none;
}

.hide2 {
    display: none;
}

#hamburger div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.hide-small {
    display: none;
}

/* Oldest */

label {
    width: 100px;
    text-align: right;
    padding: 2px;
    padding-right: 10px;
}

.columns {
    display: flex;
}

/* Fundraising */

#display-button {
    margin-left: 10px;
}