/* Structure */
:root {
    --amount: 0%;
}


body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: lightsalmon;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

#oldest {
    background-color: lightsalmon;
    padding: 5px;
    border-radius: 5px;
}


#fundraiser {
    background-color: lightsalmon;
    padding: 5px;
    border-radius: 5px;
}

/* Navigation */

#main-nav ul {
    padding-left: 0px;
    background-color: whitesmoke;
    text-align: center;
    color: coral;
}

#main-nav li {
    list-style-type: none;
    border: 3px solid transparent;
}

#main-nav li:hover {
    background-color: lightgray;
}

#exercise1.selected1 {
    border-bottom: 3px solid coral;
}

#exercise2.selected2 {
    border-bottom: 3px solid coral;
}

.hide1 {
    display: none;
}

.hide2 {
    display: none;
}

#hamburger div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.hide-small {
    display: none;
}

/* Oldest */

label {
    width: 100px;
    text-align: right;
    padding: 2px;
    padding-right: 10px;
}

.columns {
    display: flex;
}

/* Fundraising */

#thermometer {
    width: 125px;
    height: 450px;
    background: linear-gradient(0deg, red var(--amount), white var(--amount) 100%);
    margin: auto;
    margin-bottom: 10px;
}


#display-button {
    margin-left: 10px;
}

/* Larger Resolution */

@media only screen and (min-width: 750px) {
    .hide-small {
        display: block;
    }

    #hamburger {
        display: none;
    }

    #main-items {
        display: flex;
    }

    #main-items li {
        flex: 1;
    }

    #oldest {
        max-width: 700px;
        margin: auto;
    }

    #fundraiser {
        max-width: 700px;
        margin: auto;
    }
}