/* Structure */

body {
    background-color: white;
}

#main-header {
    text-align: center;
}

div, footer {
    margin: auto;
    width: 80%;
    padding: 5px;
}

/* Typography */

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Main Navigation */

#main-nav li {
    background-color:dimgray;
    list-style-type: none;
    text-align: center;
    margin: 1px;
    padding: 3px;
}

#main-nav ul {
    padding-left: 0%;
}

#main-nav a {
    text-decoration: none;
    color: white;
}

/* Main Content */

#main-content main, aside {
    background-color: lightblue;
    padding: 5px 1px 1px 5px;
    margin: 5px
}

#main-content ul {
    padding-left: 16px;
}

/* Columns */

.col1of2 {
    background-color: lightgreen;
    padding: 0px 5px 5px 5px;
    border: 1px solid green;
    margin: 5px;
}

.col1of3 {
    background-color: blue;
    color: white;
    padding: 5px;
    text-align: center;
    margin: 4px;
}

.col1of2 ul {
    padding-left: 0px;
    text-align: center;
}

.col1of2 li {
    list-style-type: none;
    padding-left: 0px;
}

/* Images */

#pictures li {
    list-style-type: none;
    padding-left: 0px;
}

#pictures ul {
    padding-left: 0px;
    text-align: center;
}

/* Footer */

footer {
    background-color: dimgray;
    color: white;
    text-align: center;
}

.address {
    margin: 0px;
}

/* Larger Resolution */

@media only screen and (min-width: 1200px) {
    .flex-container, #main-nav ul,
    #pictures ul, .col1of2 ul {
        display: flex;
    }

    .col1of2 {
        flex: 1;
    }

    img {
        margin: 5px;
    }

    #main-nav ul {
        justify-content:space-around;
    }

    #main-nav li {
        padding: 1% 6% 1% 6%;
    }

    .col1of2 ul {
        justify-content: space-around;
    }
    
    .col1of3 {
        padding: 4% 15% 4% 15%;
    }

    #footer-content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        justify-content: space-between;
    }
    
    #address {
        text-align: right;
    }

    #copywrite {
        position: absolute;
        left: 47.5%;
    }

    .col1of3 {
        flex: 1;
    }

    .col1of2 section {
        text-align: center;
    }

    .img1of3 {
        justify-content: space-between;
    }

}