/* Structure */

:root {
    --bodycolor: rgb(44, 42, 42);
    --divcolor: dodgerblue;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bodycolor);
    color: var(--bodycolor);
}

.main-style {
    background-color: var(--divcolor);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    min-height: 300px;
}

.main-style h1 {
    text-align: center;
}

/* Button */

#rainbow-button {
    padding: 3px;
    background-color: var(--bodycolor);
    color: var(--divcolor);
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 10px;
}

#rainbow-button:active {
    background-color: black;
}

/* Rainbow */

.rainbow-style {
    margin-top: 0px;
    margin-bottom: 0px;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

#rainbow {
    position: relative;
}

img {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1;
    right: 35px;
    top: 170px
}

.hidden {
    display: none;
}

/* Flex */

#main {
    display: flex;
    align-items: center;
}

#main div {
    flex: 1;
}